@import "../../sass/variable.scss";
@import "../../sass/_config.scss";
@import "../../sass/_form.scss";
@import "../../sass/_utilities.scss";

.innerSignupBox {
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 40px auto;
    #signupBtn {
        font-family: bureau-grot-wide, sans-serif !important;
        background-color: #1b2a49;
        display: block;
        margin: 20px auto !important;
        padding: 10px 40px;
    }
    h1 {
        padding: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .innerSignupBox {
        h1 {
            padding: 20px;
        }
    }

}

