@import "../../sass/variable.scss";

.footer {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: $footer-height;
    background: $primary-color;
    font-family: $title-font;
    color: $light-text;
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    float: right;
    

    .gh-icon {
        color: $light-text;
        font-size: 1rem;
        padding: .5rem;
    }

    .fab {
        font-size: 1.5rem;
        padding: 1rem;
        color: $light-text;
    }

    .name {
        padding: 20px;
        padding-top: 10px;
        margin-top: 10px;
        width: 25%;
        text-align: center;
    }

}